<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Kilo Converter</title>
 <link rel="stylesheet" href="../designs/index.css">
 <script defer src="../scripts/kg.js"></script>
</head>
<body>
 <br>
  <h1 class="heading">Kilo Converter</h1><br>
  <div class="input-field">
   <div style="display: block;">
    <select name="from" id="from">
      <option>Kilogram</option>
      <option>Gram</option>
      <option>Kilometer</option>
      <option>Meter</option>
      <option>Miles</option>
      <option>Kilolitre</option>
      <option>Litre</option>
    </select>
    <span class="seprater">to</span>
    <select name="to" id="to">
      <option>Kilogram</option>
      <option>Gram</option>
      <option>Kilometer</option>
      <option>Meter</option>
      <option>Miles</option>
      <option>Kilolitre</option>
      <option>Litre</option>
    </select><br><br>
    <input type="number" id="kg-g">
    <button id="kg-g-b">Convert</button>
    <br>
    <br>
    <span id="response"></span>
   </div>
  </div>
</body>
</html>